.heading {
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

body {
    text-align: center;
}

.display-block {
    display: flex;
    flex-direction: column;
}

.underline {
    text-decoration: underline;
}